@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1140px;
   /* background-color: #063146;*/
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section-tittle{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 35px;
}
.section-tittle h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
}

.section-tittle h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #429ef5;
    /* background-color: #285ba8; */
    /* background-color: #febd01; */
    bottom: 0px;
}
/*Header section*/
header{
   /* background-color: #042331;*/
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 11;
}
/* Show bar when scrolling*/
header.fixed{
background-color: #ffffff;
position: fixed;
border-color: #eeeeee;
animation: fixHeader .5s ease;
z-index: 11;
}
@keyframes fixHeader{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(-);
    }
}
header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
  
}
/* when srolling show headers name */
header.fixed .brand-name a{
    color: #000000;
}
header .brand-name a::before{
  content: '';
  height: 3px;
  /*background-color: #ffffff;*/
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
/* .navbar{
     background:#060c21;
} */
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
header .navbar ul li{
  display: inline-block;
  margin-left: 35px;
    
}
header .navbar ul li a{
   font-size: 15px;
   text-decoration: none;
   line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
  }
  /* show navbar tabs when scrolling*/
 header.fixed .navbar ul li a{
     color: #000000;
  }
  header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    left: 0px;
    bottom: -1px;
    transition: all .5s ease;
  }
  header.fixed .navbar ul li a::before{
   background-color:#285ba8;
      /* background-color: #febd01; */
  }
  header .navbar ul li a:hover::before{
      width: 100%;
      left: 0;
  }
  header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
  }
  /*Home Section*/
.home{
    min-height: 100vh;
    /* background:#060c21; */
    background-image: url(../images/cyber1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
    padding: 15px;
}
.home .full-screen{
    min-height: 100vh;
}
.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block{
   flex: 0 0 75%;
   max-width: 75%;
   padding-left: 35px;
   border-left: 5px solid #ffffff;
   margin-top: 50px;
}
.home .home-content .block h6{
    color:#ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
 }
 .home .home-content .block h1{
    color:#ffffff;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3{
    color:#ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .cv-btn{
    padding-top: 20px;
}
.home .home-content .block .cv-btn a{
 border-radius: 4px;
 color: #ffffff;
 border: 1px solid #ffffff;
 padding: 12px 25px;
 display: inline-block;
 font-size: 14px;
 text-transform: uppercase;
 font-weight: 600;
 transition: all .5s ease;
 background-color: transparent;
}
.home .home-content .block .cv-btn a:hover{
    background-color: #ffffff;
    color: #000000;
}
/*About style*/
.about-clinique{
padding: 100px 15px;
background-color: #ffffff;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}
.text-uppercase{
    text-transform: uppercase!important;
}
.about-clinique .section-tittle p.small{
   display: block;
   font-size: 14px;
   color: #838383;
   font-weight: 400;
   letter-spacing: 2px;
}

.about-clinique .about-content .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.about-clinique .about-content .img img{
    width: 100%;
    display: block;
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
} 
.about-clinique .about-content .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}
.about-clinique .about-content .text h4{
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 5px;
  color: #000000;
}
.about-clinique .about-content .text h6, h5{
    font-size: 18px;
     font-weight: 500;
      margin: 0 0 15px;
     color: #000000;
}
.about-clinique .about-content .text h6 span{
    /* color: #febd01; */
    /* color: #356bbd; */
    color: #285ba8;
}
.about-clinique .about-content .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px;
}
.about-clinique .about-content .text .info{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.about-clinique .about-content .text .info .list{
    flex: 0 0 calc(50% - 15px);
    max-width:calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}
.about-clinique .about-content .text .info .list label{
    padding-right: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    }
.about-clinique .about-content .text .info .list p{
margin: 0;
}
.about-clinique .about-content .text .social-links{
   padding-top: 30px;
}
.about-clinique .about-content .text .social-links a{
    height: 30px;
    width: 30px;
    background-color:#000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
   -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.about-clinique .about-content .text .social-links a:hover{
    background-color: transparent;
}
.about-clinique .about-content .text .social-links a .fa{
color: #ffffff;
font-size: 12px;
-webkit-transition: all .5s ease;
transition: all .5s ease;
}
.about-clinique .about-content .text .social-links a:hover .fa{
    color: #000000;
}

/*Start Galley style*/
.gallery{
    background-color: #f5f8fd;
    padding: 100px 7px;
}
.gallery .section-tittle h1:before{
    left: 30%;
    }
.gallery .filter-buttons{
    flex: 0 0 100%;
    max-width: 100%;
}
.gallery .filter-buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
} 
.gallery .filter-buttons ul li{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}
.gallery .filter-buttons ul li.active{
    color: #285ba8;
    border-bottom: 2px solid #285ba8;
/* color: #febd01;
border-bottom:2px solid #febd01; */
}
.gallery .filter-buttons{
    margin-bottom: 25px;
}
.gallery .portifolio-gallery{
    flex: 0 0 100%;
    max-width: 100%; 
    display: flex;
    flex-wrap: wrap;
}
.gallery .portifolio-gallery .item{
flex:0 0 33.33%;
max-width: 33.33%;
position: relative;
padding: 8px;
}
.gallery .portifolio-gallery .item .inner{
    position: relative;
}
.gallery .portifolio-gallery .item img{
    width: 100%;
    display: block;
}
.gallery .portifolio-gallery .item .overlay{
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0,0,0,0.6);
   z-index: 10;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: all .5s ease;
}
.gallery .portifolio-gallery .item:hover .overlay{
opacity: 1;
}
.gallery .portifolio-gallery .item .overlay .fa{
    height: 50px;
    width: 50px;
    color: #ffffff;
    background-color: #285ba8;
    /* background-color: #febd01; */
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
   
}
.gallery .portifolio-gallery .item:hover .overlay .fa{
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
}
@keyframes galleryIcon{
    0%{
        transform: translateY(-20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity: 1;
    }
}
.gallery .portifolio-gallery .item .overlay h4{
    margin-top: 15px;
   font-size: 25px;
   color: #ffffff;
   font-weight: 600;

}
.gallery .portifolio-gallery .item:hover .overlay h4{
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}
@keyframes galleryText{
    0%{
        transform: translateY(20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity: 1;
    }
}
/* End portfolio style*/
/*Start lightbox design*/
.lightbox{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:100;
    background-color: rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
}
.lightbox img{
    max-width: 90%;
    max-height: 80%;
    display: block;
}
.lightbox.show{
    display: flex;
}
.lightbox.hide{
    display: none;
}
.lightbox .close-lightbox{
height: 35px;
width: 35px;
background-color: #ffffff;
color: #285ba8;
/* color: #febd01; */
text-align: center;
line-height: 35px;
position: absolute;
right: 10px;
top: 10px;
cursor: pointer;
border-radius: 50%;
z-index: 101;
}
.lightbox img{
max-height: 90%;
max-width: 80%;
display: block;
}
/*End lightbox design*/
/*Start Get intouch text Design*/

/*Start Get intouch text Design*/
/*Start Tesmont Style*/
.latestgallery{
    background-color: #f5f8fd;
    padding: 40px 10px;
}
.latestgallery .section-tittle h1:before{
    left: 30%;
}
.latestgallery .testimonials-content{
   position:relative;
   overflow: hidden;
   flex:0 0 100%;
   max-width:100%
}
.latestgallery .testimonials-content .testi-slider .slide{
    background-color:#ffffff;
    margin-bottom:15px;
    border:1px solid #eeeeee;
    padding:40px 20px;
    border-radius:4px;
    display:flex;
    flex-wrap:nowrap;
    float:left;
    width:100%
}

.latestgallery .testimonials-content .testi-slider .slide .img{
    flex:20px;
    
    border-radius:50px;
}
.latestgallery .testimonials-content .testi-slider .slide p{
font-weight: 15px;
font-weight: 400;
line-height: 24px;
color: #838383;
margin: 0 0 15px;
}
.latestgallery .testimonials-content .testi-slider{
    float: left;
    transition:margin 1s ease;
}
.testimonials .testimonials-content .testi-slider .slide h6{
    font-size: 25px;
    color:#ffffff;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 20px;
  
}
.latestgallery .testimonials-content .slide-control{
    float: left;
    width: 100%;
    text-align: center;
}
.latestgallery .testimonials-content .slide-control div{
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #285ba8;
    /* border: 1px solid #febd01; */
    display: inline-block;
    margin: 10px 6px;
    cursor: pointer;
}
.latestgallery .testimonials-content .slide-control div.active{
    background-color: #285ba8;
    /* background-color: #febd01; */
}
/*end gallery style*/

/*Start contact style*/
.contact-us{
    padding: 100px 15px;
    background-color: #f5f8fd;
}
.contact-us .section-tittle h1:before{
    left: 30%;
}
.contact-us .contact-form{
background-color: #ffffff;
flex: 0 0 100%;
max-width: 100%;
padding: 40px;
border:1px solid #eeeeee;
}
.contact-us .contact-form .text{
flex: 0 0 100%;
max-width: 100%;
padding-bottom: 20px;
}
.contact-us .contact-form .text h2{
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    margin:0;
    padding:0;
}
.contact-us .contact-form .text p{
    font-weight: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0;
}
.contact-us .contact-form .space-between{

    justify-content: space-between;
}
.contact-us .contact-form .col-6{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% -15px);
}
.contact-us .contact-form .col-12{
    flex: 0 0 100%;
    max-width:100%;
}
.contact-us .contact-form .form-control{
height: 45px;
width: 100%;
margin-bottom: 15px;
border: 1px solid #ced4da;
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
font-family: 'Poppins', sans-serif;
}
.contact-us .contact-form textarea.form-control{
    height: 140px;

}
.contact-us .contact-form .form-control::placeholder{
    color: #838383;
}
.contact-us .contact-form .button{
    flex:0 0 100%;
    max-width: 100%;
   
}
.contact-us .contact-form .button a{
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #285ba8;
    /* background-color:#febd01; */
    box-shadow: 0px 10px 15px #e8e8e8;
}
.contact-us .contact-form .button a:hover{
    background-color: #000000;
    color: #ffffff;
}
/*End contact style*/
/*Start footer style*/
footer{
    padding: 80px;
    background-color: #0c0c17;
}
footer .logo{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-weight:700;
}
footer .social{
    padding-top: 10px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
 }
 footer .social a{
    color: #999999;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
 }
 footer .social a:hover{
     color: #ffffff;
 }
/*End footer style*/
/* Start Copy right*/
.copyright{
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
}
.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
}
/* End Copy right*/
/*Humbers burgers*/
.hamb-burger .fa{
    font-size: 20px;
    color: #000000;
    height: 30px;
    width: 35px;
    background-color: #ffffff;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
    border: 1px solid #eeeeee;
    }
    /* End Humbers burgers style*/

/*If You resize  the window tab*/
/* For small devices Responsive websites*/
@media(max-width: 991px){
.home .home-content .block h1{
    font-size: 50px;
   }
}

@media (max-width: 767px){
    .home .home-content .block h1{
        font-size: 40px;
       }
    .home .home-content .block h3{
        font-size: 25px;
       }
    header{
        padding:15px;
        position: fixed;
        background-color: #ffffff;
        border: none;
        border-bottom: 1px solid #eeeeee;
    }
    header .brand-name a {
        color: #000000;
    }
    .hamb-burger .fa{
      display: inline-block;
    }
    .navbar {
       position: absolute;
       background-color: #ffffff; 
       width: 100%;
       left: 0px;
       top: 60px;
       padding: 15px;
       border-top: 1px solid #eeeeee;
       display: none;
       border-bottom: 1px solid #eeeeee;
    } 
    .navbar.show {
        display: block;
    }
    header .navbar ul li {
      display: block;
      margin-left: 0;
    }
    header .navbar ul li a{
        line-height: 42px;
        color: #000000;
    }
    header .navbar ul li a::before{
        background-color: #285ba8;
        /* background-color: #febd01; */
    }
    .about-me .about-content .text {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }
    .about-me .about-content .img {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .services .service-content .box {
        background-color: #ffffff;
        padding: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .skills .skills-content {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0px;
    }
    .skills .img {
        /* background-color: blue; */
        flex: 0 0 100%;
        max-width: 100%;
    }
    .portfolio .portifolio-gallery .item {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding: 8px;
    }
     message-text .text {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .message-text .button {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        padding-top: 20px;
    }
    .blogs .blogs-content .box {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }
    .contact-us .contact-form {
       padding:40px 20px;
    }
    .contact-us .contact-form .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 500px){
    .home .home-content .block h1{
        font-size: 30px;
       }
    .home .home-content .block h3{
        font-size: 20px;
       }
    .home .home-content .block{
         padding-left: 20px;
      }
      .portfolio .portifolio-gallery .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-me .about-content .text .info .list p {
        flex: 0 0 100%;
    }
    .testimonials .testimonials-content .testi-slider {
        text-align: center;
    }
    .testimonials .testimonials-content .testi-slider .slide .img {
        flex: 100px;
        border-radius: 100px;
    }
    .testimonials .testimonials-content .testi-slider .slide {
        flex-wrap: wrap;
    }
    }











/* @media (max-width: 767px){
    header{
        padding:15px;
    }
.navbar {
    background-color: #060c21;
    max-width: 100%;
    flex: 0 0 100%;
    display: none;
}
} */